{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

{% for about in valores %}
<!--/header of the page -->
<main>
    <!-- visual/banner of the page -->
    <section class="visual">
        <div class="visual-inner about-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">


                            {{ about.titulo_pagina}}


                        </h1>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"> Home </a></li>
                                <li class="breadcrumb-item active">

                                    {{ about.subtitulo_pagina}}

                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/visual/banner of the page -->
    <!-- main content wrapper -->
    <div class="content-wrapper">
        <section class="content-block">
            <div class="container text-center">
                <div class="heading bottom-space">
                    <h2>

                        {{ about.titulo_descricao_pagina}}

                    </h2>
                </div>
                <div class="description">
                    <p>

                        {{ about.descricao_pagina}}

                    </p>
                </div>
            </div>
        </section>
        <section class="content-block p-0">
            <div class="container-fluid">
                <div class="content-slot alternate-block">
                    {% if about.titulo_texto_um or about.texto_um %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInLeft">
                                {% if about.imagem_texto_um %}
                                <img src="{{ about.imagem_texto_um.url }}" alt="images">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="text-wrap">
                                {% if about.titulo_texto_um %}
                                <h3>{{ about.titulo_texto_um }}</h3>
                                {% endif %}
                                {% if about.texto_um %}
                                <p>{{ about.texto_um }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if about.titulo_texto_dois or about.texto_dois %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInRight">
                                {% if about.imagem_texto_um %}
                                <img src="{{ about.imagem_texto_dois.url }}" alt="images">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-wrap">
                                {% if about.titulo_texto_dois %}
                                <h3>{{ about.titulo_texto_dois }}</h3>
                                {% endif %}
                                {% if about.texto_dois %}
                                <p>{{ about.texto_dois }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if about.titulo_texto_tres or about.texto_tres %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInLeft">
                                {% if about.imagem_texto_dois %}
                                <img src="{{ about.imagem_texto_tres.url }}" alt="images">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="text-wrap">
                                {% if about.titulo_texto_tres %}
                                <h3>{{ about.titulo_texto_tres }}</h3>
                                {% endif %}
                                {% if about.texto_tres %}
                                <p>{{ about.texto_tres }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    <!--/main content wrapper -->
</main>
{% endfor %}

{% endblock %}